.spinner {
    width: 14.4px;
    height: 14.4px;
    border-radius: 14.4px;
    box-shadow: 36px 0px 0 0 rgba(79, 70, 229, 0.2), 29.2px 21.2px 0 0 rgba(79, 70, 229, 0.4), 11.16px 34.2px 0 0 rgba(79, 70, 229, 0.6), -11.16px 34.2px 0 0 rgba(79, 70, 229, 0.8), -29.2px 21.2px 0 0 #4f46e5;
    animation: spinner-b87k6z 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spinner-b87k6z {
    to {
        transform: rotate(360deg);
    }
}